<% #Show all User's Tweets%>


<h2><strong><%= @zombie.name %></strong></h2>


<h3>
<table>
	<tr>
		<th>Posts</th>
		<th>Created At:</th>
		<th></th>
		<th></th>
	</tr>
	<% @zombie.tweets.all.each do |tweet| %>
	<tr>
		<td><%= link_to tweet.status , tweet %></td>
		<td><%= tweet.created_at.strftime("%b-%d-%y") %></td>
		<td><%= link_to "Edit", edit_tweet_path(tweet) %></td>
		<td><%= link_to "Destroy", tweet, method: :delete %></td>
	</tr>
	<% end %>
</table>
</h3>